
#difficulty-level-range{
    transition: background 450ms ease-in;
    border-radius: 10px;
    border: solid 0.01em #123;
    -webkit-appearance: none;
}

#label-extremo{
    position: relative;
    bottom: 160px;
    left: 970px;
}

#label-dificil{
    position: relative;
    bottom: 150px;
    left: 970px;
}

#label-medio{
    position: relative;
    bottom: 145px;
    left: 970px;
}

#label-facil{
    position: relative;
    bottom: 140px;
    left: 970px;
    pad: 4px;
}

.difficulty-level{
    display: inline-block;
    width: 60px;
    height: 190px;
    padding: 0;
}

.difficulty-level input{
    position: relative;
    bottom: 75px;
    left: 875px;
    width: 145px;
    transform: rotate(-90deg);
}

.selected-facil{
    background-color: green;
    padding: 2px;
    border-radius: 3px;
    color: white;
}

.selected-medio{
    background-color: darkorange;
    padding: 2px;
    border-radius: 3px;
    color: white;
}

.selected-dificil{
    background-color: crimson;
    padding: 2px;
    border-radius: 3px;
    color: white;
}

.selected-extremo{
    background-color: darkred;
    padding: 2px;
    border-radius: 3px;
    color: white;
}