ul {
    list-style-type: none;
}

p{
    font-size: 20px;
    text-align: left;
}

h1{
    margin-bottom: 40px;
}

.botao-info {
    position: relative;
    bottom: 120px;
    left: 800px;
    width: 35px;

    background-color: grey;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.difficulty-level{
    display: inline-block;
    width: 50px;
    height: 150px;
    padding: 0;
}

.difficulty-level input{
    position: relative;
    bottom: 90px;
    left: 900px;
    width: 100px;
    transform: rotate(-90deg);
}

.popup-info{
    visibility: hidden;
    position: relative;
    bottom: 90px;
    left: 780px;
    width: 35px;

    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 5px;
}
.botao-info:hover + .popup-info{
    visibility: visible;
}

#icone-info:hover{
    background-color: RoyalBlue;
}

#icone-palavra{
    position: relative;
    top: 22px;
    left: -70px;
}

#icone-tempo{
    position: relative;
    top: 22px;
    left: -70px;
}

#areaDigitacao{
    margin-top: 20px;
}

#areaDigitacao{
    font-size: 20px;
    border: 3px solid black;
}

#popup-tutorial{
    position: fixed;
    top: 40%;
    transform: translate(110%, -50%);
    z-index: 10;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #fff;
    width: 600px;
    padding: 50px;
    border-radius: 6px;
}

.custom-blur{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.container{
    position: relative;
}

.popup-desativado{
    visibility: hidden;
    opacity: 0;
}