ul {
    list-style-type: none;
}

p{
    font-size: 20px;
    text-align: left;
}

h1{
    margin-bottom: 40px;
}

#icone-palavra{
    position: relative;
    top: 28px;
    left: -70px;
}

#icone-tempo{
    position: relative;
    top: 20px;
    left: -70px;
}

#areaDigitacao{
    margin-top: 20px;
}

#areaDigitacao{
    font-size: 20px;
    border: 3px solid black;
}
