ul {
    list-style-type: none;
}

p{
    font-size: 20px;
    text-align: left;
}

h1{
    margin-bottom: 40px;
}

#icone-palavra{
    position: relative;
    top: 28px;
    left: -70px;
}

#icone-tempo{
    position: relative;
    top: 20px;
    left: -70px;
}

#areaDigitacao{
    margin-top: 20px;
}

#areaDigitacao{
    font-size: 20px;
    border: 3px solid black;
}

#div-texto{
    margin-top: -150px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltiptexta {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
   .tooltiptexta::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
   .tooltiptexta:hover {
    visibility: visible;
    opacity: 1;
  }

/* Primeira letra maiscula*/
.texto-firstMaiscula{
    color: aqua;
    font-weight: bold;
}

/* Toda palavra maiscula*/
.texto-fullMaiscula{
    color: gold;
    font-weight: bold;
}

/* Ultima letra maiscula*/
.texto-lastMaiscula{
    color: blue;
    font-weight: bold;
}

/*Palavra 2x*/
.texto-double{
    color: indigo;
    font-weight: bold;
}

/* Inverso */
.texto-inverse{
    color: maroon;
    font-weight: bold;
}

/* Botões */
.botoes{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    transform: translateX(130px);
}

.campo-desativado {
    background-color: lightgray;
}

.borda-verde {
    outline: none !important;
    border-color: green;
    box-shadow: 0 0 10px green;
}

.borda-vermelha {
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px red;
}

#area_numeroCaracteres #area_numeroPalavras{
    background-color:#000; 
  width:150px; 
  height:50px; 
  display: block;
}
