#popup-tutorial{
    position: fixed;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #fff;
    width: 1000px;
    padding: 50px;
    border-radius: 6px;
}

.custom-blur{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.container{
    position: relative;
}

.popup-desativado{
    visibility: hidden;
    opacity: 0;
}

.botao-info {
    position: relative;
    bottom: 120px;
    left: 800px;
    width: 35px;

    background-color: grey;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.popup-info{
    visibility: hidden;
    position: relative;
    bottom: 90px;
    left: 780px;
    width: 35px;

    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 5px;
}
.botao-info:hover + .popup-info{
    visibility: visible;
}

#icone-info:hover{
    background-color: RoyalBlue;
}

.tutorial-titulo{
    font-size: 28px;
    font-weight: bold;
}

.tutorial-titulo-subtitulos{
    font-size: 24px;
    font-weight: bold;
}

.tutorial-firstMaiscula{
    color: aqua;
    font-weight: bold;
}

.tutorial-fullMaiscula{
    color: gold;
    font-weight: bold;
}

.tutorial-lastMaiscula{
    color: blue;
    font-weight: bold;
}

.tutorial-double{
    color: indigo;
    font-weight: bold;
}

.tutorial-inverse{
    color: maroon;
    font-weight: bold;
}